<ion-header>
    <ion-navbar color="primary">
      <ion-title text-center>
        Programação
      </ion-title>
    </ion-navbar>
  <ion-toolbar color="dark" no-border-top>
    <ion-segment color="light" [(ngModel)]="programacao">
      <ion-segment-button value="Primeiro">
        Dia 23
      </ion-segment-button>
      <ion-segment-button value="segundo">
        Dia 24
      </ion-segment-button>
      <ion-segment-button value="terceiro">
        Dia 25
      </ion-segment-button>
      <ion-segment-button value="quarto">
        Dia 26
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  </ion-header>

  <ion-content padding>
  <div [ngSwitch]="programacao">
    <ion-list *ngSwitchCase="'Primeiro'">
      <ion-item *ngFor="let d23 of dia23" (click)="Openmodal(d23)">
        <ion-avatar item-start>
          <img src="{{d23.img}}">
        </ion-avatar>
        <h2>{{d23.nome}}</h2>
        <h3>{{d23.tipo}}</h3>
        <ion-note item-end>{{d23.horario}}</ion-note>
        <p>{{d23.titulo}}</p>
      </ion-item>

    </ion-list>

    <ion-list *ngSwitchCase="'segundo'">
      <ion-item *ngFor="let d24 of dia24" (click)="Openmodal(d24)">
        <ion-avatar item-start>
          <img src="{{d24.img}}">
        </ion-avatar>
        <h2>{{d24.nome}}</h2>
        <h3>{{d24.tipo}}</h3>
        <ion-note item-end>{{d24.horario}}</ion-note>
        <p>{{d24.titulo}}</p>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'terceiro'">
      <ion-item *ngFor="let d25 of dia25" (click)="Openmodal(d25)">
        <ion-avatar item-start>
          <img src="{{d25.img}}">
        </ion-avatar>
        <h2>{{d25.nome}}</h2>
        <h3>{{d25.tipo}}</h3>
        <ion-note item-end>{{d25.horario}}</ion-note>
        <p>{{d25.titulo}}</p>
      </ion-item>
    </ion-list>
    <ion-list *ngSwitchCase="'quarto'">
      <ion-item *ngFor="let d26 of dia26" (click)="Openmodal(d26)">
        <ion-avatar item-start>
          <img src="{{d26.img}}">
        </ion-avatar>
        <h2>{{d26.nome}}</h2>
        <h3>{{d26.tipo}}</h3>
        <ion-note item-end>{{d26.horario}}</ion-note>
        <p>{{d26.titulo}}</p>
      </ion-item>
  </ion-list>

  </div>
  </ion-content>
